
.idea/

StageSim.API/obj/

StageSim.API/appsettings.Development.json

StageSim.Domain/obj/

StageSim.Infrastructure/obj/

.DS_Store

StageSim.API/bin/

StageSim.Domain/bin/

StageSim.Infrastructure/bin/

*.user
